hr{
  border-top: 1px solid #000;
}

/*.row.nopadding {
	margin: 0 !important;
}

.col-md-6.left {
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.col-md-4.nopadding {
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.col-md-6.right {
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.col-md-12.nopadding {
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
}
*/