<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="UTF-8">
	<link href="css/bootstrap.3.3.7.min.css" rel="stylesheet">
	<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
	<link rel="stylesheet" type="text/css" href="css/my_style.css">
	<script type="text/javascript" src="libs/angular.js"></script>
	<!-- <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script> -->
	<script type="text/javascript" src="libs/angular-animate.js"></script>
	<!-- <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script> -->
	<script type="text/javascript" src="libs/angular-sanitize.js"></script>
	<!-- <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script> -->
	<script type="text/javascript" src="libs/ui-bootstrap-tpls-2.3.1.js"></script>
	
	<!-- <script type="text/javascript" src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.3.1.js"></script> -->
	<script type="text/javascript" src="libs/angular-route.js"></script>
	<!-- <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script> -->
	<script type="text/javascript" src="js/project.js"></script>

	<script type="text/javascript" src="js/licitacoes.js"></script>
	<script type="text/javascript" src="js/licitacoes_ativas.js"></script>
	<script type="text/javascript" src="js/licitacoes_agendadas.js"></script>
	<script type="text/javascript" src="js/licitacoes_ocultadas.js"></script>
	<script type="text/javascript" src="js/edital.js"></script>
	<script type="text/javascript" src="js/licitacaoModal.js"></script>
	<script type="text/javascript" src="js/licitacoes_a_cotar.js"></script>
	<script type="text/javascript" src="js/marcas_vencedoras.js"></script>
	<script type="text/javascript" src="js/cotacoes.js"></script>
	<script type="text/javascript" src="js/documentos.js"></script>
	<script type="text/javascript" src="js/projecoes.js"></script>
	<script type="text/javascript" src="js/documentacao_SAEB.js"></script>
	<script type="text/javascript" src="js/gerador_de_documentos.js"></script>
</head>
<body>
<!--
			<a class="navbar-brand" href="/">MyDocs</a>
		</div>
		<div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
			<ul class="nav navbar-nav">
				<li><a href="/licitacoes"><b>Licitações</b></a></li>
				<li><a href="/cotacoes"><b>Cotações</b></a></li>
				<li><a href="/documentos"><b>Documentos</b></a></li>
				<li><a href="/configuracao"><b>Configurações</b></a></li>
			</ul>
		</div>
	</nav>
	<div ng-view></div>
</body>
 -->
<header class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-xs" href="/">Easy Licit {{ STATIC_URL }}</a>
        </div>
        <nav class="hidden-xs">
            <ul class="nav navbar-nav">
                <a href="/" role="button" class="navbar-brand">Easy Licit</a>
                <li class="dropdown open" uib-dropdown="" style="">
                    <a role="button" class="dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="true">Licitações {{ STATIC_URL }}<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
						<li><a href="/licitacoes_ativas"><b>Ativas</b></a></li>
						<li><a href="/licitacoes_a_cotar"><b>Cotações Pendentes</b></a></li>
						<li><a href="/licitacoes_agendadas"><b>Agendadas</b></a></li>
						<li><a href="/licitacoes_ocultadas"><b>Ocultadas</b></a></li>
						<!-- <li><a href="/contratacao"><b>Em contratação</b></a></li> -->
						<!-- <li><a href="/contratacao"><b>Vencidas</b></a></li> -->
                    </ul>
                </li>
                <li class="dropdown open" uib-dropdown="" style="">
                    <a role="button" class="dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="true">Produtos <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
						<li><a href="/marcas_vencedoras"><b>Marcas Vencedoras</b></a></li>
						<!-- <li><a href="/licitacoes_ativas"><b>Ativas</b></a></li> -->
						<!-- <li><a href="/lista_de_produtos"><b>Lista de Produtos</b></a></li> -->
                    </ul>
                </li>
                <li class="dropdown open" uib-dropdown="" style="">
                    <a role="button" class="dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="true">Documentação <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
						<li><a href="/documentacao_SAEB"><b>SAEB</b></a></li>
						<li><a href="/gerador_de_documentos"><b>Gerador de Documentos</b></a></li>
						<!-- <li><a href="/licitacoes_ativas"><b>Ativas</b></a></li> -->
						<!-- <li><a href="/lista_de_produtos"><b>Lista de Produtos</b></a></li> -->
                    </ul>
                </li>

				<!-- <li><a href="/documentos"><b>Documentos</b></a></li> -->
				<!-- <li><a href="/configuracoes"><b>Configurações</b></a></li> -->
				<!-- <li><a href="/projecoes"><b>Projeções</b></a></li> -->
            </ul>
		    <ul class="nav navbar-nav navbar-right">
		      <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
		      <!-- <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li> -->
		    </ul>
        </nav>
        <nav class="visible-xs collapse" uib-collapse="!isCollapsed" style="height: 0px;">
            <ul class="nav navbar-nav">
                <li><a href="#getting_started" ng-click="isCollapsed = !isCollapsed">Getting started</a></li>
                <li><a href="#directives_small" ng-click="isCollapsed = !isCollapsed">Directives</a></li>
            </ul>
        </nav>
    </div>
</header>
<div ng-view></div>




<!-- 	<font face="Verdana">
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">MyDocs</a>
			</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
				<li><a href="#">Link</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Separated link</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">One more separated link</a></li>
					</ul>
				</li>
			</ul>
		</div>
 -->



<!-- 			<div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
				<ul class="nav navbar-nav">
					<li><a href="/licitacoes"><b>Licitações</b></a></li>
					<li><a href="/cotacoes"><b>Cotações</b></a></li>
					<li><a href="/documentos"><b>Documentos</b></a></li>
					<li><a href="/configuracao"><b>Configurações</b></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">One more separated link</a></li>
						</ul>
					</li>
				</ul>
			</div>
 -->
 		<!-- </nav> -->
			<!-- <div ng-view></div> -->
	<!-- </font> -->
</body>
</html>