<div ng-controller="cotacoesController">
	<div class="panel panel-primary" style="margin:0px 3% 30px 3%;">
		<div class="panel-heading">
			<h4>Cotações</h4>
		</div>
		<div class="panel-body">
			<div ng-repeat="licitacao in licitacoes">
				<h5><b>Data:</b>{{licitacao.data_abertura | date:"dd/MM/yyyy 'ás' HH:mm"}}</h5>
				<h5><b>Endereço:</b> {{licitacao.endereco}}</h5>
				<h5><b>Portal:</b> {{licitacao.portal}}</h5>
				<h5><b>Tipo:</b> {{licitacao.tipo}}</h5>
				<table class="table">
					<tr>
						<th width="67%">Item</th>
						<th width="20%" style="text-align: center;">Quantidade - Unidade</th>
						<th width="1%" style="text-align: center;">Valor Referencial</th>
						<th width="1%" style="text-align: center;">Valor Cotado</th>
						<th width="10%" style="text-align: center;">Marca</th>
						<!-- <th width="1%" style="text-align: center;">Ação</th> -->
					</tr>
					<tr ng-repeat="produto in produtos | filter: produto.codigo_licitacao = licitacao.id">
						<td>{{produto.descricao}}</td>
						<td style="text-align: center;">{{produto.quantidade}} - {{produto.unidade}} - {{produto.id}}</td> 
						<td style="text-align: center;" ng-if="produto.valor_referencial != 0">R$ {{produto.valor_referencial}}</td>
						<td style="text-align: center;" ng-if="produto.valor_referencial == 0">---</td>
						<td style="text-align: center;">
							<input type="text" ng-model="itens[$parent.$index][$index].valor_cotado" class="form-control">
						</td>
						<td style="text-align: center;">
							<input type="text" ng-model="itens[$parent.$index][$index].marca" class="form-control">
						</td>
						<td ng-hide="true">
							<input type="text" ng-value="itens[$parent.$index][$index].id = produto.id" class="form-control"> 
						</td>
<!-- 						<td>
							<button popover-placement="{{placement.selected}}" uib-popover="On the {{placement.selected}}" type="button" class="btn btn-default">
								<span class="glyphicon glyphicon glyphicon-search" aria-hidden="true">
								</span>
							</button>
						</td>
 -->
					</tr>
				</table>
				<div style="float: right; clear:both;">
					<button class="btn btn-primary" type="button" ng-click="agendar_participacao(licitacao.portal, licitacao.id)">Agendar Participação</button>
					<button class="btn btn-primary" type="button" ng-click="salvar_valores_cotacao(licitacao.portal, $parent.$index)">Enviar Cotação</button>
					<button class="btn btn-danger" type="button" ng-click="cancel()">Descartar</button>
				</div>
				<br>
				<hr style="clear:both;" ng-if="$index < licitacoes.length - 1">
			</div>
		</div>
	</div>
</div>
