<div ng-controller="documentosController">
	<script type="text/ng-template" id="gerenciadorModalContent.html">
		<div class="modal-header">
			<div class="row">
				<div class="col-xs-8">
					<h3 class="modal-title" id="modal-title">Selecione os documentos que deseja monitorar</h3>
				</div>
				<div class="col-xs-4">
					<input type="text" class="form-control" id="searchBar" ng-model="searchString" placeholder="Busca">
				</div>
			</div>
		</div>
		<div class="modal-body" id="modal-body">
			<div class="container-fluid">
				<div class="col-xs-6" ng-repeat="documento in lista_de_documentos | filter:searchString">
					<label class="checkbox-inline">
						<input type="checkbox" id="inlineCheckbox2" value="option2"> {{documento}}
					</label>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
			<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
		</div>
	</script>

	<script type="text/ng-template" id="browseModalContent.html">
		<div class="modal-header">
			<h3 class="modal-title" id="modal-title">Enviar documento</h3>
		</div>
		<div class="modal-body" id="modal-body">
			<div class="container-fluid">
				<div class="input-group">
					<label class="input-group-btn">
						<span class="btn btn-primary">
							Buscar arquivo&hellip; <input type="file" style="display: none;" multiple>
						</span>
					</label>
					<input type="text" class="form-control" readonly>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="button" ng-click="ok()">Enviar</button>
			<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
		</div>
	</script>

	<script type="text/ng-template" id="captchaModalContent.html">
		<div class="modal-header">
			<h3 class="modal-title" id="modal-title">Renovação de documento</h3>
		</div>
		<div class="modal-body" id="modal-body" style="text-align: center;">
			<div class="container-fluid">
				<h6>Para emitir esse documento é necessário digitar o captcha abaixo</h6>
				<br>
				<img src="http://d585tldpucybw.cloudfront.net/sfimages/default-source/productsimages/asp.net-ajax/productitemfeatures/captcha_various-protection-modes-_screenshot-gif.gif?sfvrsn=1" class="img-responsive" alt="Cinque Terre" style="display: block; margin: 0 auto;">
				<br>
				<div class="col-xs-4 col-xs-offset-4">
				<input type="text" class="form-control" id="searchBar" ng-model="captchaString" style="display:block; margin: 0 auto;">
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="button" ng-click="ok()">Enviar</button>
			<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
		</div>
	</script>

	<div class="panel panel-primary" style="margin:0px 3% 30px 3%">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-4">
					<h4>Documentos</h4>
				</div>
				<div class="col-xs-3 col-xs-offset-5">
					<button type="button" class="btn btn-default btn-block" ng-click="openGerenciador('lg')">
						<div class="row">
							<span class="glyphicon glyphicon glyphicon-cog" aria-hidden="true"></span>
							Gerenciar Documentos
						</div>
					</button>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<table class="table">
				<tr>
					<th>Documento</th>
					<th>Vencimento</th> 
					<th>Tipo</th>
					<th>Ação</th>
				</tr>
				<tr ng-repeat="documento in lista_de_documentos_monitorados">
					<td>{{documento}}</td>
					<td>31/02/2016</td> 
					<td>Autorenovável</td>
					<td>
						<button uib-popover="Visualizar arquivo" popover-trigger="'mouseenter'" type="button" ng-click="ok()">
							<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
						</button>
						<button uib-popover="Atualizar documento" popover-trigger="'mouseenter'" type="button" ng-click="openCaptcha()">
							<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
						</button>
						<button uib-popover="Enviar arquivo" popover-trigger="'mouseenter'" type="button" class="btn-file" ng-click="openBrowse('md')">
							<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
						</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
