<div ng-controller="documentacaoSAEBController">
	<div class="panel panel-primary" style="margin:0px 3% 30px 3%">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-4">
					<h4>Lista de Documentos - SAEB</h4>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<!-- Exibe o loading -->
			<div ng-show="loading">
				<img style="display: block; margin: 0 auto;" src="img/loading.gif"/>
			</div>

			<label class="col-xs-12" style="text-align: center" ng-if="!documentacao.length && !loading">
				Não existem documentos a serem exibidos.
			</label>

			<table class="table" style="text-align: center" ng-if="documentacao.length && !loading">
				<tr>
					<th style="text-align: center">Descrição</th> 
					<th style="text-align: center">Vencimento</th>
					<th style="text-align: center">Ação</th>
				</tr>
				<tr ng-repeat="documento in documentacao">
					<td>{{documento.documentos_descricao_txt}}</td>
					<td>{{documento.documentos_data_vencimento_date | date:'dd/MM/yyyy'}}</td>
					<td>
						<button uib-popover="Emitir documentação" popover-trigger="'mouseenter'" type="button" ng-click="emitirDocumento(documento.documentos_descricao_txt)">
							<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
						</button>
					</th>
				</tr>
			</table>
		</div>
	</div>
</div>