<div ng-controller="geradorDeDocumentosController">
	<div class="panel panel-primary" style="margin:0px 3% 30px 3%">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-4">
					<h4>Gerador de Documentos</h4>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						Selecione os documentos que deseja gerar
					</div>
				</div>
				<div class="panel-body">
					<div class="form-group col-xs-6" ng-repeat="documento in documentos_array">
						<input type="checkbox" ng-model="documento.valor">
						<label>{{documento.titulo}}</label>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						Dados da Licitação
					</div>
				</div>
				<div class="panel-body">
					<div class="form-group col-xs-12">
						<div class="col-xs-4">
							<h4>Modalidade:</h4>

							<div class="form-check">
								&emsp;&emsp;
								<input class="form-check-input" type="radio" checked ng-model="modalidade" value="Pregão Eletrônico" checked="checked">
								<label class="form-check-label">
									Pregão Eletrônico
								</label>
								<input class="form-check-input" type="radio" checked ng-model="modalidade" value="Pregão Presencial">
								<label class="form-check-label">
									Pregão Presencial
								</label>
							</div>
						</div>

						<div class="col-xs-4">
							<h4>Tipo de Pregão (SRP, Concorrência...):</h4>	
							<input type="text" ng-model="tipo_do_pregao" class="form-control">
						</div>

						<div class="col-xs-4">
							<h4>Número e Ano do Pregão:</h4>
							<div class="col-xs-6"">
								<input type="text" ng-model="numero_do_pregao" class="form-control">
							</div>
							<div class="col-xs-6"">
								<input type="text" ng-model="ano_do_pregao" class="form-control">
							</div>
						</div>
					</div>

					<div class="form-group col-xs-12">
						<div class="col-xs-4">
							<h4>Prazo de Entrega:</h4>
							<input type="text" ng-model="prazo_de_entrega" class="form-control">
						</div>

						<div class="col-xs-4">
							<h4>Prazo de Validade:</h4>
							<input type="text" ng-model="prazo_de_validade" class="form-control">	
						</div>

						<div class="col-xs-4">
							<h4>Data:</h4>
						    <input type="date" class="form-control" uib-datepicker-popup="{{dd/MM/yyyy}}" ng-model="data" value="date()" />
						</div>
					</div>

					<div class="form-group col-xs-12">
						<div class="col-xs-4">
							<h4>Deseja os documentos já assinados?</h4>

							<div class="form-check">
								&emsp;&emsp;
								<input class="form-check-input" type="radio" checked ng-model="assinados" value="1" checked>
								<label class="form-check-label">
									Sim
								</label>
								<input class="form-check-input" type="radio" checked ng-model="assinados" value="0">
								<label class="form-check-label">
									Não
								</label>
							</div>
						</div>

						<div class="col-xs-4">
						</div>

						<div class="col-xs-4">
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
			        <div class="panel-title pull-left">
			             Preencha os itens da proposta de preço
			         </div>
			        <div class="panel-title pull-right">
			        	Quantidade de itens:
						<button type="button" class="btn btn-primary" ng-click="itens_counter = itens_counter - 1">-</button>
							{{itens_counter}}
						<button type="button" class="btn btn-primary" ng-click="itens_counter = itens_counter + 1">+</button>
			        </div>
			        <div class="clearfix"></div>
				</div>
				<div class="panel-body">

					<table class="table" style="text-align: center" ng-if="itens_counter > 0">
						<tr>
							<th style="text-align: center">Número</th> 
							<th style="text-align: center; width: 50%">Descrição</th>
							<th style="text-align: center">Marca</th>
							<th style="text-align: center">Unidade</th>
							<th style="text-align: center">Quantidade</th>
							<th style="text-align: center">Preço Unitário</th>
						</tr>
						<tr ng-repeat="item in itens_array" ng-show="itens_counter > $index">
							<td style="text-align: center;">
								<input type="text" ng-model="item.indice" class="form-control">
							</td>
							<td style="text-align: center;">
								<input type="text" ng-model="item.descricao" class="form-control">
							</td>
							<td style="text-align: center;">
								<input type="text" ng-model="item.marca" class="form-control">
							</td>
							<td style="text-align: center;">
								<input type="text" ng-model="item.unidade" class="form-control">
							</td>
							<td style="text-align: center;">
								<input type="text" ng-model="item.quantidade" class="form-control">
							</td>
							<td style="text-align: center;">
								<input type="text" ng-model="item.preco_unitario" class="form-control">
							</td>
						</tr>
					</table>
				</div>
			</div>

			<table class="table" style="text-align: center" ng-if="documentacao.length && !loading">
				<tr>
					<th style="text-align: center">Descrição</th> 
					<th style="text-align: center">Vencimento</th>
					<th style="text-align: center">Ação</th>
				</tr>
				<tr ng-repeat="documento in documentacao">
					<td>{{documento.documentos_descricao_txt}}</td>
					<td>{{documento.documentos_data_vencimento_date | date:'dd/MM/yyyy'}}</td>
					<td>
						<button uib-popover="Emitir documentação" popover-trigger="'mouseenter'" type="button" ng-click="emitirDocumento(documento.documentos_descricao_txt)">
							<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
						</button>
					</th>
				</tr>
			</table>
		</div>
	</div>
</div>