<div ng-controller="licitacoesController">
	<div class="panel panel-primary" style="margin:0px 3% 30px 3%">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-4">
					<h4>Central de Licitações</h4>
				</div>
<!-- 				<div class="col-xs-3 col-xs-offset-5">
					<button type="button" class="btn btn-default btn-block" ng-click=".openGerenciador('lg')">
						<div class="row">
							<span class="glyphicon glyphicon glyphicon-cog" aria-hidden="true"></span>
							Gerenciar Documentos
						</div>
					</button>
				</div>
 -->			</div>
		</div>
		<div class="panel-body">
			<table class="table" style="text-align: center">
				<tr>
					<th style="text-align: center">Data de Abertura</th>
					<th style="text-align: center">Descrição</th> 
					<th style="text-align: center">Portal</th>
					<th style="text-align: center">Ação</th>
				</tr>
				<tr ng-repeat="licitacao in licitacoes">
					<td width="25%">{{licitacao.data_abertura | date:"dd/MM/yyyy 'às' HH:mm"}}</td>
					<td width="60%">{{licitacao.descricao}}</td>
					<td>{{licitacao.portal}}</td>
					<td>
						<button uib-popover="Visualizar licitação" popover-trigger="'mouseenter'" type="button" ng-click="openLicitacao(licitacao.id, licitacao.portal)">
							<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
						</button>
					</th>
				</tr>
			</table>
		</div>
	</div>
</div>