<div ng-controller="licitacoesCotarController">
	<div class="panel panel-primary" style="margin:0px 3% 30px 3%;">
		<div class="panel-heading">
			<h4>Cotações</h4>
		</div>
		<div class="panel-body">
			<!-- Exibe o loading -->
			<div ng-show="loading">
				<img style="display: block; margin: 0 auto;" src="img/loading.gif"/>
			</div>

			<label class="col-xs-12" style="text-align: center" ng-if="!licitacoes.length && !loading">Não existem licitações a serem exibidas.</label>

			<div ng-show="!loading" ng-repeat="licitacao in licitacoes">
				<h5><b>Data:</b>{{licitacao.data_abertura | date:"dd/MM/yyyy 'ás' HH:mm"}}</h5>
				<h5><b>Endereço:</b> {{licitacao.endereco}}</h5>
				<h5><b>Modalidade:</b> {{licitacao.modalidade}}</h5>
				<h5><b>Estado:</b> {{licitacao.estado}}</h5>
				<h5><b>Portal:</b> {{licitacao.portal}}</h5>
				<h5><b>Tipo:</b> {{licitacao.tipo}}</h5>

				<h5>
					<div class="input-group">
						<input type="text-area" ng-model="licitacao.apontamento" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-outline-danger" type="button" ng-click="atualizar_apontamento($index)">
								<div ng-if="licitacoes[$index].flag_apontamento != 1">
									Atualizar apontamento
								</div>
								<div ng-if="licitacoes[$index].flag_apontamento == 1">
									<span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true">
									</span>
								</div>
							</button>
						</span>
					</div>
				</h5>

				<table class="table">
					<tr>
						<th width="60%">Item</th>
						<th width="18%" style="text-align: center;">Quantidade - Unidade</th>
						<th width="6%" style="text-align: center;">Valor Referencial</th>
						<th width="6%" style="text-align: center;">Valor Cotado</th>
						<th width="10%" style="text-align: center;">Marca</th>
					</tr>
					<tr ng-repeat="produto in produtos | filter: produto.codigo_licitacao = licitacao.id">
						<td>{{produto.descricao}}</td>
						<td style="text-align: center;">
							{{produto.quantidade}} - {{produto.unidade}}
						</td> 
<!-- 						<td style="text-align: center;" ng-show="produto.valor_referencial != null">
							R$ {{produto.valor_referencial}}
						</td>
						<td style="text-align: center;" ng-show="produto.valor_referencial == null">
							
						</td>
 -->
						<td style="text-align: center;" ng-show="produto.valor_referencial != null">
							R$ {{produto.valor_referencial}}
						</td>
						<td style="text-align: center;" ng-show="produto.valor_referencial == null">
							<input type="text" ng-model="itens[$parent.$index][$index].valor_referencial" class="form-control">
						</td>


						<td style="text-align: center;" ng-show="produto.valor_cotado != null">
							R$ {{produto.valor_cotado}}
						</td>
						<td style="text-align: center;" ng-show="produto.valor_cotado == null">
							<input type="text" ng-model="itens[$parent.$index][$index].valor_cotado" class="form-control">
						</td>
						<td style="text-align: center;" ng-show="produto.marca_cotada != null">
							{{produto.marca_cotada}}
						</td>
						<td style="text-align: center;" ng-show="produto.marca_cotada == null">
							<input type="text" ng-model="itens[$parent.$index][$index].marca" class="form-control">
						</td>

						<td ng-hide="true">
							<input type="text" ng-value="itens[$parent.$index][$index].id = produto.id" class="form-control"> 
						</td>
					</tr>
				</table>
				<div style="float: right; clear:both;">
					<button class="btn btn-primary" type="button" ng-click="agendar_participacao(licitacao.portal, licitacao.id)">Agendar Participação</button>
					<button class="btn btn-primary" ng-click="salvar_valores_referenciais(licitacao.portal, $index)">Salvar Valores de Referência</button>
					<button class="btn btn-primary" type="button" ng-click="salvar_valores_cotacao(licitacao.portal, $index)">Enviar Cotação</button>
					<button class="btn btn-basic" type="button" ng-click="abrir_edital(licitacao)" ng-if="licitacao.portal != 'ComprasnetBA'">Edital</button>
					<button class="btn btn-danger" type="button" ng-click="esconder_licitacao_web(licitacao.portal, licitacao.id)">Descartar</button>
				</div>
				<br>
				<hr style="clear:both;" ng-if="$index < licitacoes.length - 1">
			</div>
		</div>
	</div>
</div>
