<div>
	<div class="modal-header">
		<h3 class="modal-title" id="modal-title" style="text-align:center;">Licitação {{tipo}}</h3>
	</div>

	<div class="modal-body">
		<!-- Dispensa ComprasnetBA -->
		<div ng-if="licitacao.dispensas_ativas_id_int !== undefined">
			<div class="row">
				<div class="col-md-12"><b>Código da Dispensa:</b>
					{{licitacao.dispensas_ativas_codigo_txt}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><b>Data e Hora da Disputa:</b>
					{{licitacao.dispensas_ativas_data_datetime | date: "dd/MM/yyyy 'às' HH:mm"}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><b>Endereço de Entrega:</b>
					{{licitacao.dispensas_ativas_endereco_txt}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><b>Local de Entrega:</b>
					{{licitacao.dispensas_ativas_local_entrega_txt}}
				</div>
			</div>
			<div class="row" ng-if="licitacao.dispensas_ativas_obs_txt != ''">
				<div class="col-md-12"><b>Observações:</b>
					{{licitacao.dispensas_ativas_obs_txt}}
				</div>
			</div>
			<div class="row" ng-if="licitacao.dispensas_ativas_apontamento_txt != ''">
				<div class="col-md-12"><b>Apontamento:</b>
					{{licitacao.dispensas_ativas_apontamento_txt}}
				</div>
			</div>
			<br>
		</div>

		<!-- Licitação ComprasnetBA -->
		<div ng-if="licitacao.licitacoes_ativas_comprasnetBA_id_int !== undefined">
			<div class="row">
				<div class="col-md-12"><b>Data e Hora da Disputa:</b>
					{{licitacao.licitacoes_ativas_comprasnetBA_data_realizacao_datetime | date: "dd/MM/yyyy 'às' HH:mm"}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><b>Modalidade:</b>
					{{licitacao.licitacoes_ativas_comprasnetBA_modalidade_txt}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><b>Realização:</b>
					{{licitacao.licitacoes_ativas_comprasnetBA_endereco_realizacao_txt}}
				</div>
			</div>
			<div class="row" ng-if="licitacao.licitacoes_ativas_comprasnetBA_observacoes_produtos_txt != ''">
				<div class="col-md-12 "><b>Obs p/ o PCT:</b>
					{{licitacao.licitacoes_ativas_comprasnetBA_observacoes_produtos_txt}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 "><b>Endereço da unidade:</b>
					{{licitacao.licitacoes_ativas_comprasnetBA_endereco_comissao_txt}}
				</div>
			</div>
			<div class="row" ng-if="licitacao.licitacoes_ativas_comprasnetBA_observacoes_licitacao_txt != ''">
				<div class="col-md-12 "><b>Obs p/ a Licitação:</b>
					{{licitacao.licitacoes_ativas_comprasnetBA_observacoes_licitacao_txt}}
				</div>
			</div>
			<div class="row" ng-if="licitacao.licitacoes_ativas_comprasnetBA_apontamento_txt != ''">
				<div class="col-md-12 "><b>Apontamento:</b>
					{{licitacao.licitacoes_ativas_comprasnetBA_apontamento_txt}}
				</div>
			</div>
			<br>
		</div>
		<!-- Licitação Comprasnet Federal -->
		<div ng-if="licitacao.licitacoes_ativas_comprasnet_federal_id_int !== undefined">
			<div class="row">
				<div class="col-md-12"><b>Modalidade: </b>
					{{licitacao.licitacoes_ativas_comprasnet_federal_modalidade_txt}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><b>Abertura da Proposta: </b>
					{{licitacao.licitacoes_ativas_comprasnet_federal_data_abertura_datetime | date: "dd/MM/yyyy 'às' HH:mm"}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><b>Endereço: </b>
					{{licitacao.licitacoes_ativas_comprasnet_federal_endereco_txt}}
				</div>
			</div>
			<div class="row" ng-if="licitacao.licitacoes_ativas_comprasnet_federal_apontamento_txt != ''">
				<div class="col-md-12 "><b>Apontamento:</b>
					{{licitacao.licitacoes_ativas_comprasnet_federal_apontamento_txt}}
				</div>
			</div>
			<br>
		</div>
		<table class="table" style="text-align: center">
			<tr>
				<th width="50%" style="text-align: center">Item</th>
				<th width="15%" style="text-align: center">Quantidade - Unidade</th> 
				<th width="10%" style="text-align: center">Valor Referencial</th>
				<th width="10%" style="text-align: center">Valor Cotado</th>
				<th width="15%" style="text-align: center">Marca Cotada</th>
			</tr>
			<tr ng-repeat="produto in produtos">
				<td>
					{{produto.descricao}}
				</td>
				<td>
					{{produto.quantidade}} - {{produto.unidade}}
				</td>
				<td>
					<span ng-if="produto.referencial != '' && produto.referencial != '0,00' && produto.referencial != null">
					R$ {{produto.referencial}}
					</span>
					<span ng-if="produto.referencial == '' || produto.referencial == '0,00' || produto.referencial == null">
						---
					</span>
				</td>
				<td>
					<span ng-if="produto.cotado != '' && produto.cotado != '0,00' && produto.cotado != null">
					R$ {{produto.cotado}}
					</span>
					<span ng-if="produto.cotado == '' || produto.cotado == '0,00' || produto.cotado == null">
						---
					</span>
				</td>
				<td>
					<span ng-if="produto.marca != '' && produto.marca != '0,00' && produto.marca != null">
						{{produto.marca}}
					</span>
					<span ng-if="produto.marca == '' || produto.marca == '0,00' || produto.marca == null">
						---
					</span>
				</td>
			</tr>
		</table>
	</div>

	<div class="modal-footer">
		<!-- <button class="btn btn-primary" ng-click="salvar_valores_referenciais(portal_licitacao)">Salvar Valores de Referência</button> -->
		<!-- <button class="btn btn-primary" type="button" ng-click="solicitar_cotacao_web(licitacao)">Solicitar Cotação</button> -->
		<button class="btn btn-primary" type="button" ng-click="abrir_disputa()" ng-if="portal_licitacao == 'ComprasnetBA'">Abrir Disputa</button>
		<button class="btn btn-danger" type="button" ng-click="retornar_para_cotacao(licitacao)">Retornar para Cotação</button>
		<button class="btn btn-basic" type="button" ng-click="abrir_edital(licitacao_id, portal_licitacao)" ng-if="portal_licitacao != 'ComprasnetBA'">Edital</button>
		<button class="btn btn-default" type="button" ng-click="$dismiss()">Voltar</button>
	</div>
</div>