<div ng-controller="licitacoesOcultadasController">

	<div class="panel panel-primary" style="margin:0px 3% 30px 3%">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-4">
					<h4>Licitações Ocultadas</h4>
				</div>
			</div>
		</div>
		<div class="panel-body">

			<!-- Exibe o loading -->
			<div ng-show="loading">
				<img style="display: block; margin: 0 auto;" src="img/loading.gif"/>
			</div>

			<label class="col-xs-12" style="text-align: center" ng-if="!licitacoes.length && !loading">
				Não existem licitações a serem exibidas.
			</label>

			<table class="table" style="text-align: center" ng-if="licitacoes.length && !loading">
				<tr>
					<th style="text-align: center">Data de Abertura</th>
					<th style="text-align: center">Descrição</th> 
					<th style="text-align: center">Estado</th>
					<th style="text-align: center">Portal</th>
					<th style="text-align: center">Ação</th>
				</tr>
				<tr ng-repeat="licitacao in licitacoes">
					<td width="25%">{{licitacao.data_abertura | date:"dd/MM/yyyy 'às' HH:mm"}}</td>
					<td width="60%">{{licitacao.descricao}}</td>
					<td>{{licitacao.estado}}</td>
					<td>{{licitacao.portal}}</td>
					<td>
						<button uib-popover="Recuperar licitação" popover-trigger="'mouseenter'" type="button" ng-click="recuperar_licitacao(licitacao.portal, licitacao.id)">
							<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
						</button>
					</th>
				</tr>
			</table>
		</div>
	</div>
</div>