<div>
	<div class="modal-header">
		<h3 class="modal-title" id="modal-title" style="text-align:center;">Licitação {{tipo}}</h3>
	</div>

	<div class="modal-body">
		<!-- Dispensa ComprasnetBA -->
		<div ng-if="licitacao.dispensas_ativas_id_int !== undefined">
			<div class="row">
				<div class="col-md-12"><b>Data e Hora da Disputa:</b>
					{{licitacao.dispensas_ativas_data_datetime | date: "dd/MM/yyyy 'às' HH:mm"}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><b>Endereço da Unidade de Entrega:</b>
					{{licitacao.dispensas_ativas_endereco_txt}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><b>Local de Entrega:</b>
					{{licitacao.dispensas_ativas_local_entrega_txt}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><b>Observações:</b>
					{{licitacao.dispensas_ativas_obs_txt}}
				</div>
			</div>
			<br>
		</div>		

		<!-- Licitação ComprasnetBA -->
		<div ng-if="licitacao.licitacoes_ativas_comprasnetBA_id_int !== undefined">
			<div class="row">
				<div class="col-md-12"><b>Data e Hora da Disputa:</b>
					{{licitacao.licitacoes_ativas_comprasnetBA_data_realizacao_datetime | date: "dd/MM/yyyy 'às' HH:mm"}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><b>Modalidade:</b>
					{{licitacao.licitacoes_ativas_comprasnetBA_modalidade_txt}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><b>Realização:</b>
					{{licitacao.licitacoes_ativas_comprasnetBA_endereco_realizacao_txt}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 "><b>Obs p/ o PCT:</b>
					{{licitacao.licitacoes_ativas_comprasnetBA_observacoes_produtos_txt}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 "><b>Endereço da unidade:</b>
					{{licitacao.licitacoes_ativas_comprasnetBA_endereco_comissao_txt}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 "><b>Obs p/ a Licitação:</b>
					{{licitacao.licitacoes_ativas_comprasnetBA_observacoes_licitacao_txt}}
				</div>
			</div>
			<br>
		</div>
		<!-- Licitação Comprasnet Federal -->
		<div ng-if="licitacao.licitacoes_ativas_comprasnet_federal_id_int !== undefined">
			<div class="row">
				<div class="col-md-12"><b>Abertura da Proposta: </b>
					{{licitacao.licitacoes_ativas_comprasnet_federal_data_abertura_datetime | date: "dd/MM/yyyy 'às' HH:mm"}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><b>Endereço: </b>
					{{licitacao.licitacoes_ativas_comprasnet_federal_endereco_txt}}
				</div>
			</div>
			<br>
		</div>
		<table class="table" style="text-align: center">
			<tr>
				<th width="60%" style="text-align: center">Item</th>
				<th width="25%" style="text-align: center">Quantidade - Unidade</th> 
				<th width="15%" style="text-align: center">Valor Referencial</th>
			</tr>
			<tr ng-repeat="produto in produtos">
				<td>
					{{produto.descricao}}
				</td>
				<td>
					{{produto.quantidade}} - {{produto.unidade}}
				</td>
				<td>
					{{produto.referencial}}
				</td>
			</tr>
		</table>
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="solicitar_cotacao_web(licitacao)">Solicitar Cotação sdada</button>
		<button class="btn btn-danger" type="button" ng-click="confirm_modal()">Esconder</button>
		<button class="btn btn-basic" type="button" ng-click="cancel()">Edital</button>
		<button class="btn btn-default" type="button" ng-click="$dismiss()">Voltar</button>
	</div>
</div>