<div ng-controller="licitacoesAtivasController">

	<!-- Modal de Filtros -->
	<!-- 	<script type="text/ng-template" id="modalFiltros.html">
			<div class="modal-header">
				<div class="row">
					<div class="col-xs-8">
						<h3 class="modal-title" id="modal-title">Selecione os ramos que deseja monitorar</h3>
					</div>
					<div class="col-xs-4">
						<input type="text" class="form-control" id="searchBar" ng-model="searchString" placeholder="Busca">
					</div>
				</div>
			</div>
			<div class="modal-body" id="modal-body">
				<h4><b>Dispensas Comprasnet BA</b></h4>
				<div class="container-fluid">
					<div class="col-xs-6" ng-repeat="filtro in lista_de_filtros | filter:searchString | filter: {'filtros_portal_txt': 'Dispensas ComprasnetBA'}">
						<label class="checkbox-inline">
							<input type="checkbox" id="inlineCheckbox2" value="option2">
							{{filtro.filtros_descricao_txt}}
						</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
				<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
			</div>
		</script>
	-->

	<!-- Painel principal -->
	<div class="panel panel-primary" style="margin:0px 3% 30px 3%">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-4">
					<h4>Licitações Ativas</h4>
				</div>
			<!-- 				<div class="col-xs-3 col-xs-offset-5">
					<button type="button" class="btn btn-default btn-block" ng-click="openGerenciador()">
						<div class="row">
							<span class="glyphicon glyphicon glyphicon-cog" aria-hidden="true"></span>
							Filtros
						</div>
					</button>
				</div>
 			-->
 			</div>
		</div>
		<div class="panel-body">

			<!-- Exibe o loading -->
			<div ng-show="loading">
				<img style="display: block; margin: 0 auto;" src="img/loading.gif"/>
			</div>

			<label class="col-xs-12" style="text-align: center" ng-if="!licitacoes.length && !loading">Não existem licitações a serem exibidas.</label>

			<table class="table" style="text-align: center" ng-if="licitacoes.length && !loading">
				<tr>
					<th style="text-align: center">Data de Abertura</th>
					<th style="text-align: center">Descrição</th>
					<th style="text-align: center">Estado</th>
					<th style="text-align: center">Portal</th>
					<th style="text-align: center">Ação</th>
				</tr>
				<tr ng-repeat="licitacao in licitacoes">
					<td width="25%">{{licitacao.data_abertura | date:"dd/MM/yyyy 'às' HH:mm"}}</td>
					<td width="60%">{{licitacao.descricao}}</td>
					<td>{{licitacao.estado}}</td>
					<td>{{licitacao.portal}}</td>
					<td>
						<button uib-popover="Visualizar licitação" popover-trigger="'mouseenter'" type="button" ng-click="openLicitacao(licitacao.id, licitacao.portal)">
							<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
						</button>
					</th>
				</tr>
			</table>
		</div>
	</div>
</div>