<div ng-controller="marcasVencedorasController">

	<!-- Painel principal -->
	<div class="panel panel-primary" style="margin:0px 3% 30px 3%">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-4">
					<h4>Marcas Vencedoras - Comprasnet BA</h4>
				</div>
 			</div>
		</div>
		<div class="panel-body">

			<!-- Exibe o loading -->
			<div style="display: block; margin: 0 auto; text-align: center; width:60%">
				<div ng-show="loading">
					<img src="img/loading.gif"/>
				</div>

				<label ng-if="!itens.length && !loading">Não existem itens cadastrados para serem buscados.</label>

				<div ng-if="itens.length && !loading">
					</br>
					<label>Digite a descrição ou o código do item que deseja buscar:</label>
					<input type="text" ng-model="item" uib-typeahead="item.item for item in itens | filter:$viewValue" class="form-control">
					</br>
					<button type="button" class='btn btn-default' ng-click="get_marcas_e_valores_resultado_comprasnetBA_web(item)">Buscar</button>
				</div>
			</div>

			</br>
			</br>
			</br>

			<table class="table" style="text-align: center" ng-if="marcas_e_valores.length && !loading">
				<tr>
					<th style="text-align: center">Marca</th>
					<th style="text-align: center">Quantidade de Aparições</th>
					<th style="text-align: center">Valor Mínimo</th>
					<th style="text-align: center">Valor Médio</th>
					<th style="text-align: center">Valor Máximo</th>
				</tr>
				<tr ng-repeat="item in marcas_e_valores">
					<td width="25%">{{item.marca}}</td>
					<td width="10%">{{item.aparicoes}}</td>
					<td>{{item.valor_minimo}}</td>
					<td>{{item.valor_medio}}</td>
					<td>{{item.valor_maximo}}</td>
					<td>
					</th>
				</tr>
			</table>
		</div>
	</div>
</div>