<div ng-controller="projecoesController">
	<uib-accordion close-others="oneAtATime">
		<div uib-accordion-group class="panel-primary" heading="Dados da Empresa" is-open="true" style="margin:0px 3% 30px 3%">
			<div class="form-check">
				<label class="form-check-label">
					Cidade de disputa:
				</label>
				<input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
				<label class="form-check-label" for="defaultCheck1">
					Salvador
				</label>
				<label class="form-check-label">
					ROI Mínimo:
				</label>
				<label class="form-check-label">
					10%
				</label>
				<label class="form-check-label">
					15%
				</label>
			</div>
			<div class="form-group">

				<label>CNPJ:</label>
				<input type="text" ng-model="empresa.cnpj" class="form-control" ng-disabled="empresa.edit">
			</div>
			<div class="form-group">
				<label>Nome Fantasia:</label>
				<input type="text" ng-model="empresa.nome_fantasia" class="form-control" ng-disabled="empresa.edit">
			</div>
			<div class="form-group">
				<label>Razão Social:</label>
				<input type="text" ng-model="empresa.razao_social" class="form-control" ng-disabled="empresa.edit">
			</div>
			<div class="form-group">
				<label>Endereço:</label>
				<input type="text" ng-model="empresa.endereco" class="form-control" ng-disabled="empresa.edit">
			</div>
			<button type="button" class="btn btn-lg btn-default btn-block" ng-click="edit('empresa')" style="display: block; margin: 0 auto;" ng-if="empresa.edit">Editar</button>
			<button type="button" class="btn btn-lg btn-default btn-block" ng-click="salvar('empresa')" style="display: block; margin: 0 auto;" ng-if="!empresa.edit">Salvar</button>
		</div>
		<div uib-accordion-group class="panel-primary" heading="Dados do Responsável" is-open="true" style="margin: 0px 3% 30px 3%">
			<div class="form-group">
				<label>Nome Completo:</label>
				<input type="text" ng-model="responsavel.nome_completo" class="form-control" ng-disabled="responsavel.edit">
			</div>
			<div class="form-group">
				<label>R.G.:</label>
				<input type="text" ng-model="responsavel.rg" class="form-control" ng-disabled="responsavel.edit">
			</div>
			<div class="form-group">
				<label>C.P.F.:</label>
				<input type="text" ng-model="responsavel.cpf" class="form-control" ng-disabled="responsavel.edit">
			</div>
			<div class="form-group">
				<label>Endereço:</label>
				<input type="text" ng-model="responsavel.endereco" class="form-control" ng-disabled="responsavel.edit">
			</div>
			<button type="button" class="btn btn-lg btn-default btn-block" ng-click="edit('responsavel')" style="display: block; margin: 0 auto;" ng-if="responsavel.edit">Editar</button>
			<button type="button" class="btn btn-lg btn-default btn-block" ng-click="salvar('responsavel')" style="display: block; margin: 0 auto;" ng-if="!responsavel.edit">Salvar</button>
		</div>
	</uib-accordion>
</div>